@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Press+Start+2P&display=swap');

body{
    overflow-y: hidden;
    overflow-x: hidden;
}

@media screen and (max-width:2600px) {
    #pokedex{
        background-image: url("https://portfolio.fateclins.edu.br/~1920831911011/assets/img/Pokedex.jpg");
        background-repeat: no-repeat, repeat;
        height: 800px;
        margin: 30em 0em 0em 55em;
        transform: scale(1.5);
        z-index: 2;
    }
    #desc {
        margin: 8em 3em 4em 22em;
        position: absolute;
        width: 140px;
        color: black; /* Cor do texto */
        font-size: 11px;
        z-index: 1;
        font-family: "Press Start 2P", serif;
    }
    #pokemons{
        margin:  9.7em 3em 4em 3.4em;
        height: 200px;
        width: 100px;
        transform: scale(2.1);
        background-repeat: no-repeat;
        z-index: 2;
        position: absolute;
    }
    #pokemonName{
        position: absolute;
        margin: 80% 20% 20%  15%;
        font-size: 5px;
        z-index: 1;
        font-family: "Press Start 2P", serif;
    }

    #audio{
        margin: -7em 3em 4em 0em;
        border-radius: 10px;
        cursor: pointer;
        z-index: 1;
    }

}

@media screen and (max-width:900px),screen and (max-height:1080px){
    #pokedex{
        margin: 25em 0em 0em 50em;
        transform: scale(1.1);
    }
    #desc {
        margin:  8em 3em 4em 22em;
    }
    #pokemons{
        margin: 9.7em 3em 4em 3.4em;
    }
    #audio{
        margin: -7em 3em 4em 0em;
        border-radius: 10px;
        cursor: pointer;
        z-index: 1;
    }
}
@media screen and (max-width:810px){
    #pokedex{
        margin: 20em 0em 0em 15em;
        transform: scale(1.1);
    }
    #desc {
        margin:  8em 3em 4em 22em;
    }
    #pokemons{
        margin: 9.7em 3em 4em 3.4em;
    }
    #audio{
        margin: -7em 3em 4em 0em;
        border-radius: 10px;
        cursor: pointer;
        z-index: 1;
    }
}
@media screen and (max-width:500px),screen and (max-height:800px){
    #pokedex{
        margin: 10em 0em 0em -4em;
        transform: scale(0.8);
    }
    #desc {
        margin:  8em 3em 4em 22em;
    }
    #pokemons{
        margin: 9.7em 3em 4em 3.4em;
    }
    #audio{
        margin: -7em 3em 4em 0em;
        border-radius: 10px;
        cursor: pointer;
        z-index: 1;
    }
}
@media screen and (max-height:500px){
    #pokedex{
        margin: 7em 0em 0em 25em;
        transform: scale(0.8);
    }
    #desc {
        margin:  8em 3em 4em 22em;
    }
    #pokemons{
        margin: 9.7em 3em 4em 3.4em;
    }
    #audio{
        margin: -7em 3em 4em 0em;
        border-radius: 10px;
        cursor: pointer;
        z-index: 1;
    }
}